- collection.each do |user|
  .user-map
    .twitter
      - if user.twitter.display_name.present?
        = link_to "@#{user.twitter.display_name}", "https://twitter.com/#{user.twitter.display_name}"
      - else
        = link_to user.twitter.uid, "https://twitter.com/intent/user?user_id=#{user.twitter.uid}"
    .to= fa_icon('chevron-right')

    - if user.mastodon
      .mastodon= link_to user.mastodon.uid, mastodon_profile_url(user.mastodon.uid)
      .follow= link_to "Follow", follow_friend_path(user), class: 'button'
    - else
      .mastodon Unknown, yet
