<p>Your friends are not showing up in the table? Tell them to create a Mastodon account and then sign in on this website using both Twitter and Mastodon.</p>

<p>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=<%= URI.encode('Find your friends on #Mastodon') %>&url=<%= root_url %>" data-size="large">Tweet</a>
</p>

<table>
  <thead>
    <tr>
      <th>Twitter user</th>
      <th>Mastodon user</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |user| %>
      <tr>
        <td><%= user.authorizations.find_by(provider: :twitter).uid %></td>
        <td><%= user.authorizations.find_by(provider: :mastodon).try(:uid) %></td>
        <td><%= link_to "Follow", follow_friend_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><small>Results are cached for 1 minute</small></p>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
