<p><em>This website is a tool for finding your Twitter friends in the federated Mastodon network. As long as your friends have signed on here with both accounts, you can find them.</em></p>

<ul>
  <li><a href="https://github.com/Gargron/mastodon" target="_blank">What is Mastodon?</a></li>
  <li><a href="https://github.com/Gargron/mastodon/wiki/List-of-Mastodon-instances" target="_blank">List of available Mastodon instances where you can make an account</a></li>
</ul>

<hr />

<ul>
  <li><%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %></li>
  <li><%= link_to "Sign in with Mastodon", user_mastodon_omniauth_authorize_path %></li>
</ul>

<% if user_signed_in? %>
  <p>You are signed in:</p>

  <table>
    <tbody>
      <tr>
        <th>Twitter</th>
        <td><%= current_user.twitter.try(:uid) || 'Please sign in' %></td>
      </tr>

      <tr>
        <th>Mastodon</th>
        <td><%= current_user.mastodon.try(:uid) || 'Please sign in' %></td>
      </tr>
    </tbody>
  </table>

  <p><%= link_to "Find friends on Mastodon", friends_path %></p>
<% else %>
  <p>You are not signed in</p>
<% end %>
