.page-heading
  %h3
    Find your friends on Mastodon
    %small Login via Twitter to get started

= link_to 'https://joinmastodon.org', class: 'hero-link' do
  = image_tag 'preview.jpg', alt: 'Elephant friend, paperplanes and a trombone with the Mastodon logo in the center'

.login-buttons
  = content_tag twitter? ? :div : :a, href: user_twitter_omniauth_authorize_path, class: 'twitter' do
    .login-brand= image_tag 'twitter-square.png', alt: 'Twitter'
    .login-content
      .login-numbers
        %strong= number_with_delimiter @twitter_count
        connected
      - if twitter?
        .login-name
          %strong= current_user.twitter.display_name.presence || current_user.twitter.uid
          = fa_icon 'check'
      - else
        %span.login-btn Connect Twitter

  = content_tag mastodon? ? :div : :a, href: user_mastodon_omniauth_authorize_path, class: 'mastodon' do
    .login-brand= image_tag 'logo.svg', alt: 'Mastodon'
    .login-content
      .login-numbers
        %strong= number_with_delimiter @mastodon_count
        connected
      - if mastodon?
        .login-name
          %strong= current_user.mastodon.display_name.presence || current_user.mastodon.uid
          = fa_icon 'check'
      - else
        %span.login-btn Connect Mastodon

%p
  This website uses a database of Twitter users and Mastodon users who signed in here to match them together across multiple Mastodon instances. Are your friends among them?
