.page-heading
  %h3
    Find your friends
    %small Login via Twitter and Mastodon to get started

.login-buttons
  = content_tag twitter? ? :div : :a, href: user_twitter_omniauth_authorize_path, class: 'twitter' do
    .login-brand= image_tag 'twitter-square.png', alt: 'Twitter'
    .login-content
      .login-numbers
        %strong= @twitter_count
        accounts
      - if twitter?
        .login-name
          %strong= current_user.twitter.display_name
          = fa_icon 'check'
      - else
        %span.login-btn Connect Twitter

  = content_tag mastodon? ? :div : :a, href: user_mastodon_omniauth_authorize_path, class: 'mastodon' do
    .login-brand= image_tag 'logo.svg', alt: 'Mastodon'
    .login-content
      .login-numbers
        %strong= @mastodon_count
        accounts
      - if mastodon?
        .login-name
          %strong= current_user.mastodon.display_name.presence || current_user.mastodon.uid
          = fa_icon 'check'
      - else
        %span.login-btn Connect Mastodon

%p
  This website uses a database of Twitter users and Mastodon users who signed in here to match them together across multiple Mastodon instances. Are your friends or followers among them?
