!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mastodon Bridge

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .header
      %ul.left
        %li
          = link_to root_path, class: 'brand' do
            = image_tag 'logo_full.svg', alt: 'Mastodon Bridge'

      %ul.right
        - if twitter?
          %li= link_to 'Friends', friends_path

        - if user_signed_in?
          %li= link_to 'Account', account_path
          %li= link_to 'Logout', destroy_user_session_path, method: :delete

    - if flash[:notice]
      .flash-message
        %strong Success!
        = flash[:notice]
    - if flash[:alert]
      .flash-message
        %strong Oops!
        = flash[:alert]

    = yield

    %hr/

    %p.footer
      This website is run by
      %a{:href => "https://mastodon.social/@Gargron"} @Gargron@mastodon.social
      \/
      = succeed "." do
        %a{:href => "https://twitter.com/Gargron"} @Gargron
      %a{:href => "https://github.com/tootsuite/mastodon-bridge", :target => "_blank"} Source code
